   <h3 class="heading">Search The name of the country</h3>
   <input type="text" class="form-control" (keyup)="inputSearchKeyPress($event)" placeholder="Search for...">
    <span class="input-group-btn">
        <button class="sb-btn-search" type="button">
            <span class="fa fa-search" (click)="searchData()"></span>
        </button>
    </span>


    <div class="container">
      <h3 class="heading">Select The name of the country</h3>
      <select [(ngModel)]="selectedLevel" (change)="selected()" class="dropdown">
        <option *ngFor="let detail of (filteredCountryDetails || fetchAllData)" [value]="detail.name">
          {{detail.name}}
        </option>
    </select>
    </div>

    <div class="split left">
      <div *ngFor="let details of showingData" class="centered">
        <h1 #nameInput>{{details.name}}</h1>
        <h1 #numericCodeInput>{{details.numericCode}}</h1>
        <h1 #nativeNameInput>{{details.nativeName}}</h1>
        <img src={{details.flag}} />
      </div>
    </div>
    
    <div class="split right">
      <div *ngFor="let details of previousShowingData" class="centered">
        <h1>{{details.name}}</h1>
        <h1>{{details.numericCode}}</h1>
        <h1>{{details.nativeName}}</h1>
        <img src={{details.flag}} />
      </div>
    </div>

    <button *ngIf="previousShowingData" class="button1" (click)="compareTwoObject()"> Compare </button>
